.toc {
	border-bottom: 1px solid var(--color-black);
	margin-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.list {
	background-color: #f4f4f4;
	line-height: 2;
	padding: 1.5rem 1.25rem;
}

.anchor {
	border-bottom: 2px solid transparent;
	color: var(--color-black);
	text-decoration: none;
	transition: border-bottom-color 0.2s ease-in-out;

	&:hover,
	&:focus {
		border-bottom-color: var(--color-black);
	}
}
